
:root {
	--pr-color: #fff;
	--second-color: #0a0a0a;
	--cubicbz: cubic-bezier(.9, 0, .1, 1);
}

* {
	box-sizing: border-box;
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

body {
	background: var(--second-color);
}

.wrapp {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
}

.menu-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .4;
	filter: blur(6px);
	overflow: hidden;
	transform: scale(1.1);
}

.menu-img img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	transition: .8s var(--cubicbz);
	transform: scale(1.2);
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.menu-img img.active {
	transform: scale(1);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu__item {
	position: relative;
	list-style: none;
}

.menu__item+.menu__item {
	margin-top: 60px;
}

.menu__item::before {
	position: absolute;
	content: '';
	width: 60px;
	height: 60px;
	top: 50%;
	left: 0;
	transform: translate(-80px, -50%) rotate(225deg);
	opacity: 0;
	background: url(../img/arrow.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	will-change: transform;
	transition: .8s var(--cubicbz);
}

.menu__link {
	position: relative;
	display: block;
	text-transform: uppercase;
	font-size: 75px;
	line-height: .8;
	text-decoration: none;
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
	z-index: 2;
	transition: .8s var(--cubicbz);
}

.menu__item:hover .menu__link {
	transform: translateX(80px);
	color: var(--pr-color);
	-webkit-text-stroke: 1px transparent;
}

.menu__item:hover::before {
	opacity: 1;
	transform: translate(0%, -50%) rotate(180deg);
}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
  }
  
  
  
  body {
	margin: 0;
  }
  
  
  main {
	display: block;
  }
  
  
  
  h1 {
	font-size: 2em;
	margin: 0.67em 0;
  }
  
  
  hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
  }
  
  
  
  pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
  }
  
  
  
  a {
	background-color: transparent;
  }
  
  
  
  abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
  }
  
  
  b,
  strong {
	font-weight: bolder;
  }
  
  
  code,
  kbd,
  samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
  }
  
  
  small {
	font-size: 80%;
  }
  
  
  sub,
  sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
  }
  
  sub {
	bottom: -0.25em;
  }
  
  sup {
	top: -0.5em;
  }
  
  
  img {
	border-style: none;
  }
  
  
  button,
  input,
  optgroup,
  select,
  textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
  }
  
  
  button,
  input { /* 1 */
	overflow: visible;
  }
  
  
  
  button,
  select { /* 1 */
	text-transform: none;
  }
  
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
	-webkit-appearance: button;
  }
  
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
  }
  
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
  }
  
  
  fieldset {
	padding: 0.35em 0.75em 0.625em;
  }
  
  
  legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
  }
  
  
  progress {
	vertical-align: baseline;
  }
  
  
  
  textarea {
	overflow: auto;
  }
  
  
  
  [type="checkbox"],
  [type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
  }
  
  
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
	height: auto;
  }
  
  
  
  [type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
  }
  
  
  [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
  }
  
  
  ::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
  }
  
  
  
  details {
	display: block;
  }
  
  
  summary {
	display: list-item;
  }
  
  
  
  template {
	display: none;
  }
  
  
  [hidden] {
	display: none;
  }